PORT=5000
NODE_ENV=development

# Prisma Database connection URL for Microsoft SQL Server
DATABASE_URL="sqlserver://localhost:1433;database=crm;user=SA;password=SecurePassword123;encrypt=true;trustServerCertificate=true"

# Redis Cache URL
REDIS_URL="redis://localhost:6379"

# Token secrets
JWT_ACCESS_SECRET="super-access-token-secret-key-12345"
JWT_REFRESH_SECRET="super-refresh-token-secret-key-67890"

# Cookies secret
COOKIE_SECRET="super-cookies-signature-secret-key-54321"

# CORS Origin
CORS_ORIGIN="http://localhost:5173"
